<app-layout>
  <h1></h1>
  <p></p>
  <h3></h3>
  <div class="col-md-3 ">
    <div class="list-group ">
    </div>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">رقم طلب الشراء</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الرابط</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="collapse" class="clickable" *ngFor="let pr of purchaseRequests">

        <td>{{pr.id}}</td>
        <td>
          <time datetime="2017-11-04T03:45">
            <span>{{ pr.date }}</span>
          </time>
        </td>
        <td>
          <button class="mt-3 btn btn-secondary btn-sm float-left mx-1">
            التفاصيل
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">رقم إذن الإضافة</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الرابط</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="collapse" class="clickable" *ngFor="let sr of stockReceivedList">

        <td>{{sr.id}}</td>
        <td>
          <time datetime="2017-11-04T03:45">
            <span>{{ sr.date }}</span>
          </time>
        </td>
        <td>
          <button class="mt-3 btn btn-secondary btn-sm float-left mx-1">
            التفاصيل
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">رقم إذن الصرف</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الرابط</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="collapse" class="clickable" *ngFor="let si of stockIssueList">

        <td>{{si.id}}</td>
        <td>
          <time datetime="2017-11-04T03:45">
            <span>{{ si.date }}</span>
          </time>
        </td>
        <td>
          <button class="mt-3 btn btn-secondary btn-sm float-left mx-1">
            التفاصيل
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>



  <p><a [routerLink]="['/login']">Logout</a></p>
</app-layout>
