<div class="row">
  <div class="col-md-4">
    <div class="card card-white-body">
      <h5 class="card-header">قطع الغيار</h5>
      <div class="card-body text-right">
        <div *ngFor="let spareType of spareTypes">
          <mat-checkbox (change)="checkBoxClick($event.checked, spareType.id)">
            {{spareType.name}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="collapse" class="clickable" *ngFor="let spare of filteredSpares">
        <td>{{spare.id}}</td>
        <td>{{spare.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

